body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f0; /* Cor de fundo suave */
}

.background {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("caminho/para/sua/imagem/Papel-de-parede.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* Cor de fundo do cabeçalho */
    padding: 20px;
    width: 100%;
}

.logo {
    
    font-weight: 700;
    font-size: 1.5rem;
    color: #c8815f; /* Cor do logo */
    margin-left: 400px;
}

.Meio {
    text-align: center;
    color: #333; /* Cor do texto no meio */
    margin-top: 50px;
}

.Meio h1 {
    font-size: 3rem;
    color: #c8815f; /* Cor do título */
}

.Meio h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.opcoes {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: #C37C54;
    font-size: larger;   
  }

.Meio p {
    font-size: 1.2rem;
    color: #555;
}

.Meio button {
    background-color: #c8815f;
    padding: 1rem 2rem;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.container-card-1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}

.cards {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

.cards img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background: rgba(51, 51, 51, 0.8); /* Cor de fundo com transparência */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

